.navbar{
    background-color: blueviolet !important;
}

.table{
    background-color: rgb(172, 151, 190) !important;
}

img{
    height:30px;
    width: 30px;
}
table{
    width: 500px;
   
}

.mt-5, .my-5 {
    margin-top: 5rem!important;
}
#divColor{
    height:30px;
    width: 100px;
}
